.tabela{
    border: 1px solid #7F7F7F;
    border-radius: 12px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.antes{
    text-decoration: line-through;
}

.depois{
    color: red;
}

@import url('https://fonts.googleapis.com/css?family=Gaegu');
        .button1 {
            font-size: 26px;
            background-color: orange;
            color: white;
            border: 2px solid orange;
            border-radius: 15px;
            border-radius: 0px;
            height: 40px;
            width: 300px;
        }

        .button1:hover {
            background-color:orange;
            border: 2px solid #000;
            color: white;
            transition: all 0.5s ease-in;
            transition-delay: 0.05s;
        }

        .button1:hover:after {
            content: "f217";
            font-style: normal;
            font-variant-caps: normal;
            font-variant-ligatures: normal;
            text-rendering: auto;
        }

.button2{
    background-color: silver;
    border-color: silver;
    color: black;

}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    color:orange;
}